aiogram==3.13.1
python-dotenv==1.0.1
# -- Официальные SDK для нейросетей с закрепленными версиями --
# Ограничиваем версию openai, чтобы не перейти на несовместимую 2.x.x
openai>=1.35.0,<2.0.0
# Ограничиваем xai-sdk последней версией
xai-sdk>=1.4.0
# Ограничиваем google-generativeai версией, которая точно есть на сервере
google-generativeai>=0.8.0,<0.9.0
